<h2 mat-dialog-title>Add new Question</h2>
<mat-dialog-content>
  <mat-form-field style="width: 100%">
    <mat-select [(value)]="typeOfQuestion">
      <mat-option value="paragraph">Paragraph</mat-option>
      <mat-option value="checkbox">Checkbox List V</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="width: 100%">
    <input matInput (keyup)="handleSetQuestion($event)" placeholder="Type question here" />
  </mat-form-field>
  @if (typeOfQuestion() === 'checkbox') {
  @for(answer of initListQuest(); track
  $index) {
  <mat-form-field style="width: 100%" (keyup)="handleChangeAnswer($event,$index)">
    <input matInput placeholder="Add answer question" />
  </mat-form-field>
  } @if(initListQuest().length <=4) {
    <button mat-stroked-button (click)="handleAddAnswerQuestion()">Add another answer</button>
    } @else {
    <mat-dialog-actions>
      <button mat-stroked-button disabled>Add another answer</button>
    </mat-dialog-actions>

    } }
    <section [formGroup]="optionQuestion">
      <p><mat-checkbox formControlName="allowUser">Allow user to specify their own answer</mat-checkbox></p>
      <p><mat-checkbox formControlName="isRequire">This field is required</mat-checkbox></p>
    </section>
</mat-dialog-content>

<mat-dialog-actions style="display: flex; justify-content: flex-end">
  <button mat-raised-button color="primary" [mat-dialog-close]="dataSendBack()" cdkFocusInitial>Submit</button>
</mat-dialog-actions>
